.page-body {
    margin-top: 150px;
}

td.user {
    color: rgb(88, 88, 88);
    font-size: 16px;
    font-family: sans-serif;
}

table.table {
    width: 75%;
    table-layout: fixed;
}

.displayableID {
    width:400px;
}
.disabledIcon {
    width: 50px;
}
h1,
h2,
h3,
h4 {
    color: rgb(88, 88, 88);
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

hr {
    border-color: rgb(161, 161, 161);
    border-width: 2px;
}

td.pull-right {
}

td.user {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

th {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.fa-refresh {
    color: black;
    display: none;
}

.removed {
    text-decoration: line-through;
    color: darkgray;
    font-style:italic;
}

tr {
    transition: background-color 1s;
}

table.table-striped tr.new-user {
    background-color: rgb(0, 173, 14);
}      

.btn-em {
    background-color: lightcoral;
    border: none;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
    height: 40px;
    width: 200px;
    margin-bottom:20px;
    display: block;
}

.btn-em:hover,
.btn-em:active,
.btn-em:focus {
    background-color: rgb(255, 136, 136);
    color: white;
}

.btn-em:active,
.btn-em:focus,
.btn-em::selection {
    border: none;
    outline: none;
}

th {
    color: rgb(88, 88, 88);
    font-size: 16px;
    font-family: sans-serif;
}